<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangku.special.news.dao.INewsDAO">
	 <resultMap id="NewsMap" type="com.wangku.special.news.model.News">
		<id property="id" column="id" />
		<result property="targetid" column="targetid" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="addtime" column="addtime" />
		<result property="state" column="state" />
	</resultMap>	
	<sql id="AllColumn">
		id,targetid,title,content,state,addtime
	</sql>

 <!-- 计算某个项目里共有多少条记录 --> 
<select id="getHistory" parameterType="java.util.Map" resultMap="NewsMap">
		SELECT
		<include refid="AllColumn" />
		FROM news where 1=1
        <if test="targetid != null">
            and targetid = #{targetid}
        </if>        
        <if test="state != null">
            and state = #{state}
        </if>		
		 order by addtime desc limit #{num}
</select>
 <!-- 按照id得到一个记录 --> 
<select id="getNewsById" parameterType="java.lang.Integer" resultType="NewsModel">
		SELECT
		<include refid="AllColumn" />
		FROM news where 1=1 		
        <if test="_parameter != null">
            and id = #{_parameter,jdbcType=VARCHAR}
        </if>	
		 order by addtime desc limit 1
</select>
<!-- 修改 -->
<update id="updateById"  parameterType="NewsModel">
 UPDATE news
 <trim prefix="set" suffixOverrides=",">
  <if test="targetid != null">targetid=#{targetid},</if>
  <if test="title != null">title=#{title},</if>
  <if test="content != null">content=#{content},</if>
  <if test="state != null">state=#{state},</if>
 </trim>
 WHERE id=#{id}
</update>
<!-- 插入一条记录 -->  
<insert id="insert" parameterType="NewsModel" useGeneratedKeys="true" keyProperty="id">  
       insert into news (targetid,title,content,state,addtime) values (#{targetid}, #{title}, #{content}, #{state}, #{addtime})  
</insert>  

<!-- 删除记录 -->  
<delete id="delete" parameterType="java.util.Map">  
       delete from news where  1=1 	
        <if test="id != null">
            and id = #{id}
        </if>    
        <if test="targetid != null">
            and targetid = #{targetid}
        </if>        
        <if test="state != null">
            and state = #{state}
        </if>
</delete>  
</mapper>